p {
	font-family: 'Comic Sans MS'; /*I'm Sorry*/
	font-size: 14px;
}
p.filler {
	font-family: 'Times New Roman', sans-serif;
}
body {
	background-color: #F9F9F9;
}
.red {
	color: #FF0000;
}
h2 {
	color: #00FF00;
}
table {
	background-color:#CCCCCC;
}
a:hover {
	color:#00003F;
}